Django==1.7
Pillow==3.1.1
bcrypt==2.0.0
cffi==1.5.2
django-registration-redux==1.4
pbr==1.8.1
pycparser==2.14
requests==2.9.1
six==1.10.0
stevedore==1.11.0
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.29.0
wsgiref==0.1.2
